body {
    margin: 0;
    padding: 0;
    background-color: #3F3F3F;
    font-family: 'Alice', serif;
}
button, input{
    font-family: 'Alice', serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.right-container {
    border-radius: 55px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C2C2C;
    padding-right: 10vh;
    padding-left: 10vh;
    // padding-top: 0.5vh;
    padding-bottom: 1.5vh;
    min-width: 300px;
}

.register-form {
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.register-title {
    color: white;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.input-group {
    margin-bottom: 1.5rem;
}

.form-label {
    color: white;
    margin-bottom: 0.5rem;
    display: block;
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.register-button {
    padding: 0.75rem 1.5rem;
    background-color: #BFBFBF;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 5rem;
}

.register-link:hover {
    text-decoration: underline;
}

.register-message {
    color: red;
    font-size: 1rem;
    margin-top: 1rem;
}
.login-button{
    width: 7.4vh;
    height: 4.6vh;
    background: #BFBFBF;
    border-radius: 25px;
    border: none;
    right: 0;
    left: 80%;
    position: relative;

}

/* Hide the image container on small screens */
@media (max-width: 768px) {
    .left-container {
        display: none;
    }
    .right-container {
        flex: 1;
        width: 100%;
        padding: 1.5rem;
        border-radius: 0;
        min-width: unset;
        height: auto;
    }
    .register-form {
        max-width: 90%;
    }
    .login-button{
    width: auto;
    height: auto;
    background: #BFBFBF;
    border-radius: 25px;
    border: none;
    right: 0;
    }
}

@media (max-width: 480px) {
    .register-title {
        font-size: 1.5rem;
    }
    .form-control {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
    .login-button{
    width: auto;
    height: auto;
    background: #BFBFBF;
    border-radius: 25px;
    border: none;
    right: 0;
    }
}
