body {
  background-color: #3F3F3F;
  margin: 0;
  font-family: "Kanit", sans-serif;
}
mat-sidenav-container{
  height: 100vh;
  background-color: #3F3F3F;
}

mat-toolbar {
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #2c2c2c;
  z-index: 1000;
}
mat-icon{
  color: white;
}
mat-sidenav-content{
  padding-top: 70px;
  height: calc(100vh - 70px);
}
mat-sidenav{
  width: 200px;
  background-color: #2C2C2C;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #444444;
  border-radius: 25px;
  padding: 5px 10px;
  max-width: 500px;
  flex: 1;
  margin: 0 auto; /* Center the search container */
}

.search-input {
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  background-color: #515151;
  color: white;
  font-size: 0.9rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between buttons */
  padding-right: 20px; /* Padding to ensure buttons don't overflow */
}

.user-profile-button {
  background-color: #515151;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-profile-button:hover {
  background-color: #3f3f3f;
}

.menu-toggle-button {
  cursor: pointer;
  background: none;
  color: white;
  font-size: 1.2rem;
  border: none;
}

.left-menu {
  position: fixed;
  top: 70px;
  left: 0;
  height: calc(100% - 70px);
  width: 70px;
  background: #2c2c2c;
  color: aliceblue;
  z-index: 9;
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.left-menu.expanded {
  width: 200px;
}

.left-menu button {
  font-size: 0.9rem;
  text-align: left;
  padding: 10px;
  margin: 5px 0;
  color: #FFFFFF;
  background: #3b3b3b;
  border: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.search-button {
  background-color: #ff6600;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.search-button:hover {
  background-color: #e65c00;
}

.filter-button {
  background-color: #515151;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #3f3f3f;
}
.filter-modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  color: white;
}

.filter-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  color: black;

}
label{
  color: black;
}

.category-select {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.category-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.category-checkbox input {
  margin-right: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.apply-filter-button,
.close-button {
  background-color: #ff6600;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-filter-button:hover,
.close-button:hover {
  background-color: #e65c00;
}

.close-button {
  background-color: #515151;
}

.close-button:hover {
  background-color: #3f3f3f;
}

.checkbox-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  gap: 10px; /* Space between checkboxes */
  max-height: 400px; /* Set a max height for the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
}

.category-checkbox {
  display: flex;
  align-items: center;
  color: black;

}

.category-checkbox input {
  margin-right: 10px; /* Space between checkbox and label */

}

@media (max-width: 600px) {
  .checkbox-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
  }
}

@media (max-width: 400px) {
  .checkbox-container {
    grid-template-columns: 1fr; /* Single column for very small screens */
  }
}
