<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<body>
  <!-- <div *ngIf="shouldShowControls()"> -->
    <mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
          <mat-list class="side-content">
            <mat-list-item><button (click)="goToBookList()" id="home-button" class="home-button">Home</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><button (click)="goToAllBooks()" id="book-button" class="book-button">Books</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><button (click)="goToAllHistory()" id="history-button" class="history-button">History</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><button (click)="goToFavorite()" class="wishlist-button">Wishlist</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><button (click)="goToForums()" class="wishlist-button">Forums</button></mat-list-item>
            <mat-divider *ngIf="userData?.user_permission === 'Manager' || userData?.user_permission === 'Publisher'"></mat-divider>
            <mat-list-item><button *ngIf="userData?.user_permission === 'Manager' || userData?.user_permission === 'Publisher'" (click)="goToAddBooks()" class="book_add">Add Book</button></mat-list-item>
            <mat-divider *ngIf="userData?.user_permission === 'Manager' || userData?.user_permission === 'Publisher'"></mat-divider>
            <mat-list-item><button *ngIf="userData?.user_permission === 'Manager' || userData?.user_permission === 'Publisher'" (click)="goToAddSeries()" class="serie_add">Add Serie</button></mat-list-item>
            <mat-divider *ngIf="userData?.user_permission === 'Manager' || userData?.user_permission === 'Publisher'"></mat-divider>
            <mat-list-item><button *ngIf="userData?.user_permission === 'Manager'"(click)="goToAddPublisher()" class="publisher_add">Add publisher</button></mat-list-item>
            <mat-divider *ngIf="userData?.user_permission === 'Manager' || userData?.user_permission === 'Publisher'"></mat-divider>
            <mat-list-item><button *ngIf="userData?.user_permission === 'Manager' || userData?.user_permission === 'Publisher'" (click)="goToAddAuthor()" class="author-add">Add Author</button></mat-list-item>
          </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
<mat-toolbar *ngIf="shouldShowControls()">
      <button mat-button mat-icon-button (click)="opened=!opened" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="search-container">
            <button (click)="goToAllBooks()" class="back-button"></button>
            <input type="search" [(ngModel)]="searchQuery" placeholder="Search for a book..." id="search-input" class="search-input"/>
            <button (click)="searchBooks()" class="search-button">Search</button>
            <button (click)="toggleFilterModal()" class="filter-button">Filter</button>
      </div>
          <div class="nav-buttons">
            <button (click)="goToUserProfile()" class="user-profile-button">User</button>
          </div>
</mat-toolbar>
    <div *ngIf="isFilterModalVisible" class="filter-modal">
      <div class="filter-modal-content">
        <h2>Select Categories</h2>
        <div class="category-select">
          <label>Select Categories:</label>
          <div class="checkbox-container">
            <div *ngFor="let genre of genres" class="category-checkbox">
              <input type="checkbox" [checked]="selectedGenres[genre]" (change)="onCategorySelect(genre)"> {{ genre }}
            </div>
          </div>
        </div>
        <div class="modal-buttons">
          <button (click)="toggleFilterModal()" class="close-button">Close</button>
          <button (click)="applyFilters()" class="apply-filter-button">Apply Filter</button>
        </div>
      </div>
    </div>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
<!-- </div> -->

</body>