body {
  background-color: #3F3F3F;
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  color: aliceblue;
  background: #2c2c2c;
  z-index: 10;
  padding: 0 20px; /* Adjusted padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #444444;
  border-radius: 25px;
  padding: 5px 10px;
  max-width: 500px;
  flex: 1;
  margin: 0 auto; /* Center the search container */
}

.search-input {
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  background-color: #515151;
  color: white;
  font-size: 0.9rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between buttons */
  padding-right: 20px; /* Padding to ensure buttons don't overflow */
}

.wishlist-button,
.user-profile-button {
  background-color: #515151;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wishlist-button:hover,
.user-profile-button:hover {
  background-color: #3f3f3f;
}

.menu-toggle-button {
  cursor: pointer;
  background: none;
  color: white;
  font-size: 1.2rem;
  border: none;
}

.left-menu {
  position: fixed;
  top: 70px;
  left: 0;
  height: calc(100% - 70px);
  width: 70px;
  background: #2c2c2c;
  color: aliceblue;
  z-index: 9;
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.left-menu.expanded {
  width: 200px;
}

.left-menu button {
  font-size: 0.9rem;
  text-align: left;
  padding: 10px;
  margin: 5px 0;
  color: #FFFFFF;
  background: #3b3b3b;
  border: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.search-button {
  background-color: #ff6600;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.search-button:hover {
  background-color: #e65c00;
}

.filter-button {
  background-color: #515151;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #3f3f3f;
}
