<body>
    <div class="container">
        <div class="right-container">
            <form class="login-form" (ngSubmit)="login()">
                <h1 class="login-title">Login</h1>
                <div class="input-group">
                    <label for="username" class="form-label">Email / Username</label>
                    <input type="text" id="username" class="form-control" [(ngModel)]="users.user_name" name="user_name" required>
                </div>
                <div class="input-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" [(ngModel)]="users.user_pass" name="user_pass" required>
                </div>
                <div class="button-group">
                    <button type="submit" class="login-button">Login</button>
                    <button routerLink="/register" class="register-button">Register</button>
                </div>                
                <div class="login-message">{{loginMessage}}</div>
            </form>
        </div>
    </div>
</body>