.book-list-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.category-container {
  margin-bottom: 30px;
}



drag-scroll {
  height: 46vh;
  width: 100%;
  white-space: nowrap;
}


.book-card {
  display: inline-block;
  width: 15vh;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  padding: 7.5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  max-height: 300px;
}

.book-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 200px;

}

.book-info {
  text-align: center;
}

.book-info h3{
  font-size: 1.1em;
  margin-bottom: 5px;
  text-align: center;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.book-description{
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

}

h3 {
  font-weight: 500;
  color: black;
}

p {
  font-weight: 200;
    color: black;
}

.book-info p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 200;
  min-height: 1.5em;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.list-Dev {
  color: transparent;
  border-radius: 55px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.sale-image {
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.show-scroll {
  overflow-x: auto;
  transition: overflow 0.3s;
}