<br><br><br><br>
<div class="container">
    ADD SERIE<br><br>
    <!-- input serie_name_th -->
    <input type="text" [(ngModel)]="serie_name_th" placeholder="Enter serie name (Thai)"><br>

    <!-- input serie_name_en -->
    <input type="text" [(ngModel)]="serie_name_en" placeholder="Enter serie name (English)"><br>

    <!-- input serie_name_original -->
    <input type="text" [(ngModel)]="serie_name_original" placeholder="Enter original serie name"><br>

    <!-- input serie_status  [(ngModel)]="#" -->
    <select id="serie_status" name="book_status" [(ngModel)]="serie_status"> 
        <option value="" disabled selected>Select a status</option>
        <option value="Unknown">Unknown</option>
        <option value="On Going">On Going</option>
        <option value="Finished">Finished</option>
        <option value="Paused">Paused</option>
    </select><br>

    <!-- input serie_detail -->
    <input type="text" placeholder="serie detail" [(ngModel)]="serie_detail"><br>

    <!-- submit -->
    <button type="submit" (click)="submit()">submit</button>
    <br>{{message}}
</div>