<div class="container">
    <h3>Add Author</h3>
    <!-- input image publisher -->
    <label for="file-input" class="image-label">
        <img *ngIf="base64Image" [src]="base64Image" alt="Image preview" class="image-preview" />
        <img *ngIf="!base64Image"
            src="https://t3.ftcdn.net/jpg/04/60/01/36/360_F_460013622_6xF8uN6ubMvLx0tAJECBHfKPoNOR5cRa.jpg"
            alt="Upload Image" class="image-preview" />
        <input type="file" id="file-input" (change)="onFileChange($event)" accept="image/*" />
    </label><br><br>

    <!-- input name author -->
    <input class="texin" type="text" [(ngModel)]="author_name" placeholder="Enter author name"><br>

    <!-- input  author descrip -->
    <input class="texin" type="text" [(ngModel)]="author_description" placeholder="Enter author description"><br><br>

    <button type="submit" (click)="submit()">submit</button><br><br>

    <div *ngIf="noti_succes" class="alert">
        <span class="closebtn" (click)="noti_succes = false;">&times;</span>
        Update successful.
    </div>
    
    <div *ngIf="noti_fail" class="alert" style="background-color: #F66358;">
        <span class="closebtn" (click)="noti_fail = false;">&times;</span>
        {{message}}
    </div>
</div>