input {
    width: 30%;
    height: 10%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin-bottom: 5px;
}

textarea {
    width: 30%;
    height: 10%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin-bottom: 5px;
}

.button {
    background-color: #FF6600;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 8px;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #e64a19;
}

.head {
    font-weight: bold;
    padding-bottom: 20px;
    color: white;
}

.alert {
    border-radius: 10px;
    padding: 15px;
    background-color: #2EB886;
    color: white;
    margin-bottom: 15px;
    width: 50%;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}